body{
 background:#eee;
}
#frm{
  border: solid gray 1px;
  width: 30%;
  border-radius: 5px;
  margin: 100px auto;
  background: white;
  padding: 40px;
  
}
#User{





 }
 #Pass{
 
 

 
 }
#btn{ 
  
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
  
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

