<style>
body{




}

#frm{

  width: 30%;
  border-radius:5px;
  background: white;
  padding: 80px;
  position: absolute;
  top:300px;
  right:500px;
  


}

table{
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    font-size: 25px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
